body{
    background-color: #4D5923;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
/*HEADER*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 20px;
    
    
}
.header__menu-profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu-profile img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.header__menu-profile p{
    color: whitesmoke;
    margin: 0px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
    
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;

}
/*END HEADER*/

/*BUSCADOR*/
.main{
    height: 300px;
}
.main__title{
    font-size: 25px;
    color: white;
}
input{
    background-color: #4d5923be;
    border: 2px solid whitesmoke;
    border-radius: 35px;
    color: white;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}
::placeholder{
    color: white;
}
/*END BUSCADOR*/