body{
    background-color: #5C5D73;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
/*HEADER*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__img{
    width: 150px;
    
    margin: 30px;
}
.header__menu{
    margin-right: 20px;
    
    
}
.header__menu-profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu-profile img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.header__menu-profile p{
    color: whitesmoke;
    margin: 0px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
    
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;

}
/*END HEADER*/

/*BUSCADOR*/
.main {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}
.main__title{
    font-size: 25px;
    color: white;
}
input{
    background-color: #5c5d73d2;
    border: 2px solid whitesmoke;
    border-radius: 35px;
    color: white;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    
}
::placeholder{
    color: white;
}
/*END BUSCADOR*/

/*CARRUSEL*/
.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel-Container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    overflow-x: scroll;
    
    
}
.carousel-item{
    background-color: tomato;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
    border-radius: 20px;

}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.2);
    opacity: 1.0;
    

}
.carousel-item__img{
    width: 100%;
}
.carousel-item__detais{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 5px;
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    align-items: flex-end;

    
}
.carousel-item:hover .carousel-item__detais:hover{
    opacity: 1;


}

.carousel-item--icon{
    width: 25px;
    
    
}
.carousel-item__details--title, .carousel-item__details--subtitle  {
    color: #ffffff;
    margin-left: 10px;
    font-size: 13px;
}

/*END CARRUSEL*/